<template>
  <form @submit.prevent="search()">
    <input
      type="text"
      v-model="pokemon"
    >
    <button type="submit" style="background-color: #2c3e50; color: white">Buscar</button>
  </form>

  <div v-if="result">
    <h2>{{ pokemon }}</h2>
    
    <img :src="result.sprites.front_default" alt="">
    
    <div>
      <strong v-for="type in result.types" :key="type.slot">{{ type.type.name }}</strong>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',

  data() {
    return {
      pokemon: '',
      result: null
    }
  },

  methods: {
    search() {
      console.log(this.pokemon)
      fetch(`https://pokeapi.co/api/v2/pokemon/${this.pokemon}`)
        .then(result => result.json())
        .then(data => this.result = data)
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
